# OS ignores
.DS_Store
Thumbs.db
# editors etc
*.swp
.vscode/
.codex
nohup.out
# ignore tmp and build directories
tmp/
/target/
/crates/s3-diff-tests/target/
# environments
.direnv/
.env
/crates/s3-diff-tests/Cargo.lock
# Obsidian notes checkout
/notes/
# data for buckets
/data/
# profiles
*.profraw
*.data
*.zst
/mutants.out*
